<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <title>Addresses List</title>
</head>
<body>
<h1 class="text-xl-center text-success">Assessment</h1>
<h2 class="text-center text-primary">Adresy</h2>
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" >
      <a class="btn" th:href="@{'/'}">Strona główna</a>
    </button>
    <button class="btn btn-sm btn-outline-secondary" type="button" >
      <a class="btn" th:href="@{'/addresses/add'}">Dodaj adres</a>
    </button>
  </form>
</nav>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Id</th>
    <th>Ulica</th>
    <th>Numer Domu</th>
    <th>Kod Pocztowy</th>
    <th>Miasto</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="address:${addressesList}">
    <td th:text="${address.id}"></td>
    <td th:text="${address.street}"></td>
    <td th:text="${address.houseNumber}"></td>
    <td th:text="${address.postalCode}"></td>
    <td th:text="${address.city}"></td>
    <td>
      <a class="btn btn-sm btn-outline-danger" th:href="@{/addresses/remove/{id}(id=${address.id})}">Usuń</a>
      <a class="btn btn-sm btn-outline-primary" th:href="@{'/addresses/edit/' + ${address.getId()}}">Edytuj</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>