<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<h1 class="text-xxl-center text-success">Assessment</h1>
<h2 class="text-center text-primary">Strona główna</h2>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" >
                <a class="btn" th:href="@{'/'}">Strona główna</a>
            </button>
            <button class="btn btn-sm btn-outline-secondary" type="button" >
                <a class="btn" th:href="@{'/employees/list'}">Pracownicy</a>
            </button>
            <button class="btn btn-sm btn-outline-secondary" type="button" >
                <a class="btn" th:href="@{'/addresses/list'}">Adresy</a>
            </button>
            <button class="btn btn-sm btn-outline-secondary" type="button" >
                <a class="btn" th:href="@{'/departments/list'}">Działy</a>
            </button>
            <button class="btn btn-sm btn-outline-secondary" type="button" >
                <a class="btn" th:href="@{'/positions/list'}">Stanowiska</a>
            </button>
        </form>
    </nav>
</body>
</html>